extends layout.pug

block content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          p Unless otherwise stated games are hosted at clubhouse. Click on event open for registration to see list of participants.  
          table
            tr
              th Date
              th Event
            each tourney in tourney_list
              tr
                td #{tourney.Tdate} 
                td 
                   a.calendarlink(href=tourney.Link) #{tourney.Game} 
            hr
