extends layout.pug

block content
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          p 
            | Game:&nbsp#{gamename}
            br
            | Date:&nbsp#{gamedate.toDateString()}
            br
            | Player:&nbsp#{playername}
          form(action='', method='post')
            .form-group
              label(for='inputDesc') Partner or teammates
              input#inputDesc.form-control(type='textbox', name='inputDesc', aria-describedby='descHelp', placeholder='Enter partner or teammates')
              small#descHelp.form-text.text-muted Only one of your team needs registration.
            .form-check
              input#regRadios1.form-check-input(type='radio', name='regRadios', value='optionRegister', checked='')
              label.form-check-label(for='regRadios1')
                | Register
            .form-check
              input#regRadios2.form-check-input(type='radio', name='regRadios', value='optionWithdraw')
              label.form-check-label(for='regRadios2')
                | Withdraw
            br
            button.btn.btn-primary(type='submit') Submit

          if errors 
            ul
              for error in errors
                li!= error.msg
